/* *{border:1px dashed plum;} */
/* div{border:0.5px dashed red;} */


:root{
    color:white;
}
html{
    height:100%;
}
body{
    height:100%;
}
.header, .icons, .likes, .caption, .comment{
    padding-bottom: 0.5em;
    padding-left:0.5em;
}
div.post-container{
    width:500px;
    height:auto;
    position: absolute;
    top: 50%;
    left:50%;
    margin:-250px 0 0 -250px;
    background-color: black;
    padding-bottom:0.5em;
}
div.header{
    display:flex;
    height: min-content;
    justify-content: center;
    /* padding-bottom: 0.5em; */
    padding-top: 0.5em;
}
div.user{
    width:40%;
    height:min-content;
    display:flex;
    justify-content:flex-start;
}
.user-pic{
    border-radius: 50%;
    height:2em;
}
strong.user-name{
    padding-top:0.5em;
}
div.three-dot-container{
    width:60%;
    height:auto;
    text-align: end;
}
.fa-ellipsis{
    padding:0.5em;
}
img.post-img{
    /* width: 500px; */
    width: 100%;
    object-fit:contain; /* this property isnt doing anything? */
}
div.icons{
    padding-top:0.2em;
}
div.caption{
    padding-right: 0.5em;
}
div.comment{
    display:flex;
    justify-content: space-between;
    padding-bottom:0em;
}
p{
    margin-top:auto;
    margin-bottom:auto;
}
.fa-bookmark{
    float:right;
    padding-right: 0.5em;
}
.fa-2xs{
    padding:1em 0.8em 0em 0em;
}
span.hashtag{
    color: rgb(201, 243, 244);
}