*{
    border:2px dashed red;
}
html{
    height:100%;
}
body{
    height:100%;
}
div.post-container{
    width:50%;
    height:60%;
    margin: auto;
}
div.header{
    display:flex;
}
div.user{
    width:20%;
}
div.three-dot-container{
    width:80%;
}